nav {
    background-color: cornflowerblue;
    height: 50px;
}

nav button {
    float: right;
    vertical-align: middle;
    padding: 15px 32px
}


form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
